@using System.Collections.Generic
@using ClassroomHub.Web.ViewModels

@model IEnumerable<ClassViewModel>

<h1> Turmas</h1>
<partial name="_create" model="new ClassViewModel()"></partial>
@if (!Model.Any())
{
	<div class="text-center">
		<span> Nao ha turmas cadastradas</span>

	</div>
}
else
{
	<table class="table table-hover table-striped-columns text-center">
		<thead>
			<tr class="sucess">
				<th>
					@Html.DisplayNameFor(x => x.Name)
				</th>
				<th>
					@Html.DisplayNameFor(x => x.Start)
				</th>
				<th>
					@Html.DisplayNameFor(x => x.End)
				</th>
				<th>

				</th>


			</tr>
		</thead>
		<tbody>
			@foreach (var @class in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(x => @class.Name)
					</td>
					<td>
						@Html.DisplayFor(x => @class.Start)
					</td>
					<td>
						@Html.DisplayFor(x => @class.End)
					</td>
					<tr>

							@if (Model.Any())
							{
							@foreach (var classe in Model)
							{


							<td>
								<a asp-action="Edit" asp-route-id="@classe.Id" style="text-decoration: none;"><i class="fa fa-edit ml-2"></i></a>
								<a data-toggle="modal" data-target="#removeConfirmation"><i class="fa fa-trash ml-2"></i></a>
							</td>

							<partial name="_delete" model="classe.Id"></partial>
							}
							}
							else
							{
								<a>Não há Turmas cadastradas</a>
							}
					</tr>
				</tr>


			}

		</tbody>
	</table>
	@section Scripts{
	@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
}

